POSTGRES_DB=ti_garantias_dev
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

BACKEND_IMAGE=ti-garantias/backend
BACKEND_TAG=v0.1.0-b538348
BACKEND_PORT=8080

FRONTEND_IMAGE=ti-garantias/frontend
FRONTEND_TAG=v0.1.0-b538348
FRONTEND_PORT=4200

JWT_SECRET=CambiarEstaClaveTemporal1234567890
ATTACHMENTS_PATH=/data/attachments

SMTP_HOST=
SMTP_PORT=25
SMTP_USER=
SMTP_PASS=
SMTP_FROM=no-reply@demo.local

PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin123

JENKINS_PORT=8081
